<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gomeplus.im.customer.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.gomeplus.im.customer.model.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="appId" property="appId" jdbcType="BIGINT" />
		<result column="businessId" property="businessId" jdbcType="BIGINT" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="nickName" property="nickName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="BIGINT" />
		<result column="roleLevel" property="roleLevel" jdbcType="INTEGER" />
		<result column="businessType" property="businessType" jdbcType="INTEGER" />
		<result column="createrId" property="createrId" jdbcType="BIGINT" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUserById" resultType="com.gomeplus.im.customer.model.User"
		parameterType="java.lang.Long">
		<![CDATA[
			select * from im_customer_service.tbl_user where id=#{id}
		]]>
	</select>
	
	<select id="getUserByName" resultType="com.gomeplus.im.customer.model.User"
		parameterType="java.lang.String">
		<![CDATA[
			select * from im_customer_service.tbl_user where binary userName=#{userName}
		]]>
	</select>

	<select id="userList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		<![CDATA[
			select * from im_customer_service.tbl_user where createrId=#{createrId} order by createTime desc
		]]>
	</select>

	<insert id="saveUser" parameterType="com.gomeplus.im.customer.model.User">
		<![CDATA[
			insert into im_customer_service.tbl_user(id,appId,businessId,userName,nickName,password,createTime,roleLevel,businessType,createrId,picture,telephone,phone,email,state)
				values 
			(#{id},#{appId},#{businessId},#{userName},#{nickName},#{password},#{createTime},#{roleLevel},#{businessType},#{createrId},#{picture},#{telephone},#{phone},#{email},#{state})
		]]>
		<selectKey resultType="long" keyProperty="id">
         <![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>
     	</selectKey>
	</insert>

	<update id="updateUserByid" parameterType="com.gomeplus.im.customer.model.User">
		update im_customer_service.tbl_user set
			userName=#{userName},
			nickName=#{nickName},
			picture=#{picture},
			telephone=#{telephone},
			phone=#{phone},
			email=#{email}
		where id=#{id}
	</update>
	<update id="delUser" parameterType="map">
		<![CDATA[
			delete from im_customer_service.tbl_user where id in (${ids})
		]]>
	</update>

</mapper>
